.app {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}

button{
  border:black solid 1px;
}

.pic{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width:300px;
  height: 250px;
  padding-bottom: 2vh;
  margin-top: 2vh;

}

header{
  
  padding: 2vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4vh;
  
}
.container{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #7D4A3C;
  
}

.sample{
  position: fixed;
  top:25%;
  left: 50%;
  transform: translateX(-50%);
  border: 2px black solid;

}
.photoContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.img-icon{
  width: 80%;
  height:20vh;
 
}

.logo{
  width:5%;
  position: fixed;
  top:0;
  right:0;
}



.card img{
  
  width:50%;
  overflow: scroll;
  
}
form{
  display: flex;
  
  width:100%;
}

form input{
  width:100%;
  word-wrap: break-word;
  
}

header input{
  width: 100%;
}
@media(max-width:1024px){
  .card{
    display: flex;
    justify-content: center;
    width:50%;
    height:40vh;
  }
.pic{
  height:100%;
  padding-bottom: 2vh;
  margin:2vh;

}
 
  .sample{
    position: fixed;
    height:100%;
    border: 2px black solid;
    left:0;
  
  }
  .sample{
    display: none;
  }

}

a{
  text-align: center;
}

@media(max-width:600px){
  .card{
    width:100%;
    padding-bottom: 2vh;
  }

  .pic{
    
    background-repeat: no-repeat;
    padding-bottom: 2vh;


  }
  .logo{
    width:20%;
    position: fixed;
    left: 0;
    bottom: 50%;
    transform: translateX(-50%);
    
  }

  
}
